a.menu_link {
	/* Font Settings */
	color:					#000000;
	font-size:				14px;
	text-decoration:		none;
}

body {
	border:					0px solid black;

	/* Background Settings */

	/* Size Settings */
	height					100%;
	min-height:				100%;

	/* Position Settings */
	margin:					0 0 0 0;
	padding-bottom:		0px;

	/* Font Settings */
	font-family:			Arial;
}

canvas#anchor_canvas {
	border:					0px solid black;
}

div#anchor {
	/* Position Settings */
	float:					right;
	margin-right:			-50px;
	margin-top:				40px;
}

div#anchor_line_top_left {
	border-bottom:			1px solid black;
	border-right:			1px solid black;

	position:				absolute;
	z-index:					2;
} 

div#anchor_line_bottom_right {
	border-left:			1px solid black;
	border-top:				1px solid black;

	position:				absolute;
	z-index:					1;
}

div#anchor_name {
	border:					0px solid black;

	/* Position Settings */
	margin-left:			60px;
	margin-top:				-30px;
	padding-bottom:		0px;
	padding-top:			0px;
}

div#container {
	border:					0px solid black;

	height:					auto;
	min-height:				100%;
	width:					810px;

	margin-left:			auto;
	margin-right:			auto;
}

div#content {
	border-left:			1px solid black;

	/* Position Settings */
	float:					left;
	padding-bottom:		20px;
	padding-left:			0px;
	padding-right:			0px;
	padding-top:			40px;

	min-height:				auto;
	width:					625px;
}

div#gradient {
	background-image:    -moz-radial-gradient(circle cover, #ffffff, #00ee00);

	height:					100%;
	min-height:				100%;
	width:					100%;

	margin:					0 0 0 0;
	padding:					0 0 0 0;
}

div#header {
	border:					0px solid black;

	height:					100px;
}

div#footer {
	/* Position Settings */
	clear:					both;
	padding-top:			10px;

	font-size:				12px;
	text-align:				center;
}

div#menu {
	border:					0px solid black;

	/* Position Settings */
	float:					left;
	height:					100%;
	width:					150px;
	margin-left:			0px;
	padding-top:			50px;

	text-align:				right;
}

div.menu_link {
	/* Background Settings */
	/*background:             		#dcdcdc;
	background-image:       		-webkit-gradient(linear, left top, left bottom,
                                 		           from (#fefefe), to(#dcdcdc));
	background-image:       		-webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:       		-moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:       		-ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:       		-o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image:       		linear-gradient(top, #fefefe, #dcdcdc);*/

	/* Border Settings */
	border-bottom:						1px solid black;
	/*border:                 		1px solid #bbb;
	border-right:						0px;
	border-radius:          		4px;
	border-top-right-radius:		0px;
	border-bottom-right-radius:	0px;
	-moz-border-radius:     		4px;
	-webkit-border-radius:  		4px;*/

	/* Position Settings */
	margin-bottom:						2px;
	margin-left:						auto;
	padding-bottom:					0px;
	padding-left:						0px;

	/* Size Settings */
	height:								auto;
	width:								100px;

	/* Text Settings */
	font-size:							13px;
	font-weight:						bold;
	text-align:							left;
}

span.anchor_capital {
	font-size:							50px;
}

h1.anchor_name {
	/* Font Settings */
	color:								black;
	font-size:							40px;

	/* Position Settings */
	margin-top:							0px;
	margin-bottom:						0px;
	padding-top:						0px;
	padding-bottom:					0px;
}

html {
	border:								0px solid black;

	height:								100%;

	margin:								0 0 0 0;
	padding:								0 0 0 0;
}
