img.home_profile {
   border-radius:                6px;
   border:                       1px solid black;
 
   float:                        right;
	margin-bottom:						10px;
	margin-left:						10px;
}

h2.home_heading {
	margin-bottom:						0px;
}

p.home {
	margin-top:							5px;
}

td.home {
	padding-left:						10px;
	padding-top:						10px;
}
