a.recommend {
	/* Font/Text Settings */
	color:						#008000;
	text-decoration:			none;
}

h1.recommend {
	/* Font/Text Settings */
	color:						#008000;
	font-size:					25px;

	margin-bottom:				5px;
	margin-left:				0px;
	margin-right:				0px;
	margin-top:					0px;
}

h2.recommend {
	/* Font/Text Settings */
	color:						#000000;
	font-size:					15px;

	margin-bottom:				0px;
	margin-top:					0px;
}

p.recommend {
	margin-top:					0px;
}

ul.recommend {
	font-size:					15px;

	margin-bottom:				5px;
	margin-left:				0px;
	margin-top:					0px;
	padding-left:				15px;
}

table.recommend {
	width:						100%;
}

td.recommend {
	vertical-align:			top;
}

td.divider {
	border-bottom:				1px solid black;
	height:						1px;
	padding-top:				5px;
}
